hr {
  display: block;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

hr1 {
  display: block;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 10px;
}

.header {
  background-color: #cccccc
}

h5 {
  margin-left: 890px;
  align-items: right;
}

.align{
  display: flex;
  flex-direction: row;
}
.since{
  margin-left: 890px;
}

 .search > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
} 

.modalStyle {
  position: 'fixed';
  zIndex : 1040;
  top: 0; bottom: 0; left: 0; right: 0;
};

.sortBy {
 margin-left: 800px;
}

.emp {
  margin-bottom: -10px;
}
.searchFilter{
  margin-left: 840px;
}